/* the sliders img */
.slider
{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 80vh;
    border-radius: 20px;
    cursor: pointer;
    width: 80vw;
    position: relative;
    transition: ease-in-out .7s;
    flex: 5;
}
/* main-sldier(the slider with completly width and caption) */
.slider-main
{ 
    flex: 40;
}
/* the caption at the bottom of the img */
.slide-caption
{
    position: absolute;
    top: 91%;
    color: white;
    left: 14px;
    font-size: 20px;
    opacity: 0;
}
.slider-main .slide-caption
{
    opacity: 1;
    transition:opacity  ease-in .7s;
}